.debug .cre_container-flex {
  background-color: pink;
}

/* Basic Rules */
body {
  color: #a3a3a3;
  background-color: #141922;
  font-family: 'Varela Round', sans-serif;
  font-weight: 700;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

a:hover {
  color: white;
  text-decoration: none;
}

hr {
  margin: 0;
  padding: 0;
}
/* End Basic Rules */

/* Generic Rules */
.cre_absolute {
  position: absolute;
}

.cre_relative {
  position: relative;
}

.cre_padder {
  padding: 15px;
}

.cre_section {
  padding: 15px 0;
}

.cre_visible-xs {
  display: none;
  justify-content: flex-end;
}

.tracks a:hover .cre_hover-tracks {
  display: block;
}

.cre_hover-tracks {
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.cre_rounded {
  border-radius: 50%;
}


/* End Generic Rules */

/* Buttons */
.cre_btn-upgrade {
  text-align: center;
  text-transform: uppercase;
  margin-right: 30px;
  margin-bottom: 0;
  align-content: center;
  display: inline-block;
  padding: 10px 30px;
  border: 1px solid white;
  border-radius: 30px;
}
/* End Buttons */

/* Main Wrapper */
.cre_main-wrapper {
  height: calc( 100vh - 100px );
}
/* End Main Wrapper */

/* Flex Container */
.cre_container-flex {
  width: 100%;
  display: flex;
}
/* End Flex Container */

/* Menù Left */
.cre_flex-menu-left {
  flex-direction: column;
  height: 100%;
}

.cre_menu-left {
  height: calc( 100vh - 100px );
  background-color: #000000;
  flex-basis: 250px;
  overflow: hidden;
}

img.logo {
  width: 150px;
  padding-bottom: 25px;
}

img.icon {
  width: 25px;
}

.cre_menu-left li {
  padding: 5px;
}

.cre_menu-left li.selected {
  margin-left: -15px;
  padding: 5px 5px 5px 15px;
  border-left: 3px solid #adff2f;
}

.cre_menu-left .cre_top-menu span {
  vertical-align: middle;
  padding: 0 5px;
}

.playlist h3 {
  margin-top: 0;
  font-size: 14px;
  font-weight: bolder;
  color: white;
  text-transform: uppercase;
}

.cre_crea-playlist {
  padding: 5px;
}

.cre_crea-playlist p {
  display: inline-block;
  vertical-align: middle;
}

.cre_crea-playlist .cre_btn-plus {
  display: inline-block;
  background-color: grey;
  color: black;
  width: 40px;
  height: 40px;
  text-align: center;
}

.cre_crea-playlist .cre_btn-plus p {
  font-size: 30px;
}

.cre_scroll-playlists {
  overflow: auto;
  flex-basis: 80%;
}

.cre_bottom-menu a {
  margin-top: 10px;
}

.cre_bottom-menu img {
  width: 15px;
  display: inline-block;
}

.cre_bottom-menu p {
  padding-left: 10px;
  display: inline-block;
}

.cre_bottom-menu-item {
  padding-top: 10px;
}

.profile {
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  width: 25px;
  height: 25px;
  background-color: gray;
  border-radius: 50%;
}
/* End Menù Left */

/* Menù Right Music Library */
.cre_music-library {
  background-color: #141922;
  overflow: auto;
  flex-basis: calc( 100% - 250px );
  height: calc( 100vh - 100px );
}

.cre_top-bar {
  z-index: 1;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100px;
  width:  calc( 100% - 250px );
  flex-direction: row-reverse;
}

.cre_top-bar a {
  align-self: center;
}

header {
  margin-top: 100px;
}

ul.cre_nav-menu {
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
}

header li {
  padding: 10px 15px;
}

header .selected {
  margin: auto;
  width: 30px;
  border-bottom: 3px solid #adff2f;
}
/* End Menù Right Music Library */


.tracks {
  width: 90%;
  margin: auto;
}

.cre_title-category {
  padding: 10px;
}

.tracks h2 {
  color: white;
  font-weight: 900;
}

.row {
  padding-bottom: 20px;
}

.tracks [class*=col-] {
padding: 0;
margin: 0;
/* min-height: 320px; */
}

.cre_single-track {
  padding: 10px;
}

.tracks img {
  width: 100%;
}

.cre_hover-tracks i {
  font-size: 60px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.cre_title-song {
  padding: 0 10px;
}

.cre_title-song h2 {
  font-size: 20px;
  color: white;
}

.cre_title-song p {
  color: grey;
}

/* Footer-Music Player */
footer {
  height: 100px;
  background-color: #282828;
}

footer .cre_container-flex {
  height: 100%;
  justify-content: space-between;
}

.cre_player-track {
  flex-basis: 250px;
  height: 100%;
  flex-shrink: 100;
}

.cre_player {
  flex-basis: 50%;
  height: 100%;
}

.cre_player-volume {
  background-color: green;
  flex-basis: 250px;
  height: 100%;
  flex-shrink: 100;
}

.cre_player-track .cre_container-flex.nested {
  justify-content: flex-start;
  align-items: center;
}

.cre_player-track .box1 {
  flex-basis: 70px;
}

.cre_player-track .box1 img {
  padding: 10px 10px 10px 10px;
  height: 70px;
}

.cre_player-track .box2 {
  padding: 10px 5px 10px 5px;
  flex-basis: 110px;
  height: 70px;
  font-size: 12px;
}

.cre_player-track .box2 h2 {
  color: white;
  font-weight: 900;
  padding-top: 6px;
  font-size: 14px;
  margin: 0;
}

.cre_player-track i {
  padding: 5px;
  font-size: 18px;
}
/* --------------------- */
.cre_controls {
  height: 50%;
  padding: 10px 15px;
}

.cre_controls i {
  display: inline-block;
  vertical-align: middle;
  padding: 0 20px;
  font-size: 20px;
}

.cre_controls i.fa-play-circle {
  vertical-align: middle;
  font-size: 40px;
}

.cre_container-flex.cre_control-time {
  padding-top: 15px;
  height: 50%;
}

.cre_actual-time {
  padding: 0 5px;
}

.cre_final-time {
  padding: 0 5px;
}

.cre_bar-total {
  padding: 2px 5px;
  margin-top: 5px;
  height: 5px;
  width: 80%;
  cursor: pointer;
}

.cre_bar-reproduced {
  float: left;
  background-color: white;
  width: 11%;
  height: 5px;
}

.cre_bar-notreproduced {
  position: relative;
  float: left;
  background-color: grey;
  width: 89%;
  height: 5px;
}

.cre_player div.cre_bar-total:hover .pallino {
  display: block;
}

.pallino {
  position: absolute;
  top: -5px;
  left: -7px;
  display: none;
  color: white;
}
/* End Footer-Music Player */


















/* ------------------------------------------------------------------------- */
/* Media Queries MD */
@media screen and (max-width: 1199px) {
  .cre_title-song h2 {
    font-size: 15px;
  }

  .cre_title-song p {
    font-size: 12px;
  }

  .tracks [class*=col-] {
  min-height: 320px;
  }

  .cre_controls i {
    padding: 0 12px;
  }
}
/* ------------------------------------------------------------------------- */
/* Media Queries SM */
@media screen and (max-width: 991px) {
  .cre_controls i {
    padding: 0 8px;
  }

  .cre_controls i.fa-play-circle {
  }
}

/* Media Queries XS */
@media screen and (max-width: 767px) {
  .cre_hidden-xs {
    display: none;
  }

  .cre_menu-left .cre_top-menu {
    flex-basis: 100vh;
  }

  .cre_menu-left {
    flex-basis: 70px;
  }

  .cre_menu-left ul {
    text-align: center;
  }

  #cre_logo-xs {
    margin-left: -2px;
    width: 40px;
    padding-bottom: 10px;
  }

  #cre_download-xs {
    margin-left: -4px;
    width: 20px;
  }

  .cre_top-bar {
    width:  calc( 100% - 70px );
  }

  .cre_music-library {
    flex-basis: calc( 100% - 70px );
  }

  .cre_visible-xs {
    display: block;
  }

  .profile {
    width: 30px;
    height: 30px;
  }

  .cre_bottom-menu img {
    padding-top: 2px;
    width: 20px;
  }

  .cre_controls i {
    padding: 0 6px;
  }

  .cre_controls i.fa-play-circle {
  }
}

/* Media Queries per visualizzazione su Samsung Galaxy S20 */
@media screen and (max-width: 360px) {
  .tracks [class*=col-] {
  min-height: 0;
  }
}
